* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fafafa;
    border-radius: 5px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.name {
    text-align: center;
    color: #fff;
    background: #3a4249;
    padding: 20px 40px;
    margin: 10px 0;
}
.forma {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    gap: 50px;
    // justify-content: space-around;
    // text-align: center;
}
.form {
    font-size: 26px;
    &__name {
        display: block;
        width: 500px;
        height: 50px;
        padding: 10px;
        margin: 20px 0;
        background: #fff;
        border: 1px solid #ebebeb;
        font-size: 18px;
    }
    &__relationship {
        display: block;
        background: #fff;
        border: 1px solid #ebebeb;
        width: 500px;
        height: 50px;
        padding: 10px;
        font-size: 18px;
    }
    &__phone {
        display: block;
        margin: 20px 0;
        width: 500px;
        height: 50px;
        padding: 10px;
        background: #fff;
        border: 1px solid #ebebeb;
        font-size: 18px;
    }
    &__btn {
        display: block;
        width: 500px;
        height: 50px;
        padding: 10px;
        background: #008efd;
        color: #fff;
        border: 1px solid #ebebeb;
        font-size: 18px;
    }
}
.contact {
    font-size: 26px;
    &__paragraf {
        width: 500px;
        height: 140px;
        margin-top: 20px;
        padding: 20px;
        background: #fff;
        border: 1px solid #ebebeb;
    }
    &__text {
        background: #fff;
        font-size: 24px;
    }
    &__relationship {
        background: #fff;
        margin: 10px 0;
        font-size: 20px;
    }
    &__phone {
        background: #fff;
        color: #008efd;
        font-size: 22px;
    }
}
